@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(fundo09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section#telefone{
    position:absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 295px;
    height: 569px;
    background:  url(iphone02.png)  no-repeat top center;
    background-size: cover;
}
section#redes-sociais{
    text-align: right;
}

  img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.575);
    box-sizing: border-box;
    
}
 section#redes-sociais img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;

}
iframe#tela{
    position: relative;
    top: 107px;
    left: 46px;
    width: 200px;
    height: 355px;
}